body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
   }
     #boton{
         background: #4cd137;
         margin: 0 auto;
         min-height: 30px;
         border: none;
         border-radius: 5%;
     }
     #boton:hover{
         box-shadow: inset 0px 0px  10px #0097e6 ;
     }
    
     #boton:active{
         background: white;

     }
     #archivo{
       outline: none; 
     }

  .titulo{
      color:#0097e6;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: center;
  }

  .cont{
      padding: 25px;
      background-color: #eee;
      border: 1px solid black;
      border-radius: 10px;
      min-height: 400px;
      box-shadow: 0px 0px 10px gray;
  }
  .block{
      margin: 5px;
  }
  /* ESTILOS DEL DOCUMENTO mostrar_archivo.php */
  /* estilos em iframe para mostrar los archivos */
  
  .padd{
   padding-top: 10px;
  }
  @media screen and (min-width:720px){
  .altura{
     height:136%;
  }
}
  @media screen and (max-width:720px){
  .altura{
     height:230%;
  }
}
