.header {
    margin-bottom: 20px;
}

.close {
    outline: none;
    border: none;
    -moz-user-focus: none;
}

.h2 {
    margin-left: 100px;
}

.actualizacion {
    display: none;
}

.eliminacion {
    display: none;
}

.tipo-letra {
    font-family: Arial
}

.tall_min {
    min-height: 100px
}

.letra {
    font-family: arial;
}

.boton {
    margin-top: 20px;
}

.muestra_nota:disabled {
    background: transparent;
    border: none;
    outline: transparent;
    overflow: hidden;
}

.border_none {
    border: none;
}

.modal_nota:disabled {
    background: transparent;
}


/* quita la marca de agua de 000webhost*/

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

@media (max-width: 720px) {
    .logo_peque_min {
        display: none;
    }
    .video_peque {
        height: 510px;
    }
    body {
        font-size: 12.6px;
    }
    .modal_nota:disabled,
    .modal_nota {
        height: 420px;
    }
    .text-peque {
        font-size: 13.2px;
    }
    .size_content {
        min-height: 380px;
    }
    .s_b {
        width: 45%;
        margin-bottom: 9px;
        margin-top: 5px;
        padding-left: 10px;
    }
    .a {
        margin-left: 17px;
    }
    .parrafo {
        font-size: 14px;
        margin: 0px auto 6px auto;
    }
    .titulo {
        margin-left: 0px;
    }
    .edit {
        margin-bottom: 75%;
    }
    .action {
        width: 113px;
        font-size: 12px;
    }
    .links {
        width: 90px;
    }
    .descripcion {
        width: 400px;
    }
    .num {
        width: 10px;
    }
    .fecha {
        width: 100px;
    }
    .tarea_sm {
        font-size: 13.2px;
    }
}

@media(min-width:700px) {
    .modal_nota:disabled,
    .modal_nota {
        min-height: 370px;
    }
    .edit {
        margin-bottom: 19.7%;
    }
    .table001,
    .table002 {
        max-width: 130px;
        font-size: 12px;
    }
    .links {
        width: 90px;
    }
    .descripcion {
        max-width: 500px;
    }
    .num {
        width: 20px;
    }
    .fecha {
        width: 180px;
    }
    .size_content {
        min-height: 300px;
    }
    .logo_peque {
        display: none;
    }
    .ver_file {
        margin-top: 5px;
    }
}

.mar_b {
    margin-bottom: 60px;
}

.active_n {
    color: #495057;
}


/* estilos del archivo de ingreso de notas */

input#input-file {
    display: none;
}

input#input-file+label {
    text-align: center;
    font-weight: 600;
    background-color: #4d82f2;
    padding: 8px;
    color: #ffffff;
    border: 2px solid #9ec3ff;
    border-radius: 9px;
    width: 100%;
}

input#input-file+label:hover {
    background-color: #3b73ce;
    cursor: pointer;
    border: 2px solid #729fe7;
}

input#input-file+label:active {
    background-color: #729fe7;
    cursor: pointer;
    border: 2px solid;
}

.ac {
    color: green;
    border: 1px solid green;
    padding: 0px 3px 1px 3px;
    border-radius: 10px;
}

.iac {
    color: red;
    border: 1px solid red;
    padding: 0px 3px 1px 3px;
    border-radius: 10px;
}

.bg_success {
    background-color: #eeeeee;
}